<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Bootstrap可视化布局系统">
    <meta name="description" content="可拖放排序在线编辑的Bootstrap可视化布局系统">
    <meta name="keywords" content="可视化,布局,系统">
    <title>Bootstrap 可视化布局系统</title>
    <link href="__PUBLIC__/dist/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="__PUBLIC__/dist/css/layoutit.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="__PUBLIC__/dist/images/favicon.png">
 	<script type="text/javascript" src="__PUBLIC__/dist/js/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__PUBLIC__/dist/js/bootstrap.min.js"></script>
</head>
<body><div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<p>
				测试文章1
			</p>
		</div>
	</div>
</div>
</body>
</html>