<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/themes/css/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/css/fonts/ptsans/stylesheet.css" media="screen" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/css/fluid.css" media="screen" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/css/mws.style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/css/icons/icons.css" media="screen" />

<!-- Demo and Plugin Stylesheets -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/css/demo.css" media="screen" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/plugins/colorpicker/colorpicker.css" media="screen" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/plugins/jimgareaselect/css/imgareaselect-default.css" media="screen" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/plugins/fullcalendar/fullcalendar.css" media="screen" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/plugins/fullcalendar/fullcalendar.print.css" media="print" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/plugins/tipsy/tipsy.css" media="screen" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/plugins/sourcerer/Sourcerer-1.2.css" media="screen" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/plugins/jgrowl/jquery.jgrowl.css" media="screen" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/plugins/spinner/spinner.css" media="screen" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/css/jui/jquery.ui.css" media="screen" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/css/common.css" media="screen" />

<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/css/mws.theme.css" media="screen" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/css/jquery.fancybox.css" media="screen" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/dist/css/change.css" media="screen" />
<!-- JavaScript Plugins -->

<script type="text/javascript" src="__PUBLIC__/themes/js/jquery-1.7.1.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/themes/plugins/jimgareaselect/jquery.imgareaselect.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/plugins/jquery.dualListBox-1.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/plugins/jgrowl/jquery.jgrowl.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/plugins/jquery.filestyle.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/plugins/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/plugins/jquery.dataTables.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/plugins/flot/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="__PUBLIC__/themes/plugins/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/plugins/flot/jquery.flot.pie.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/plugins/flot/jquery.flot.stack.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/plugins/flot/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/plugins/colorpicker/colorpicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/plugins/tipsy/jquery.tipsy.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/plugins/sourcerer/Sourcerer-1.2.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/plugins/jquery.placeholder.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/plugins/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/plugins/jquery.mousewheel.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/plugins/spinner/ui.spinner.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/js/jquery-ui.js"></script>

<script type="text/javascript" src="__PUBLIC__/themes/js/mws.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/js/demo.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/js/themer.js"></script>
<script type="text/javascript" src="__PUBLIC__/themes/js/jquery.fancybox.js"></script>
<script type="text/javascript" src="__PUBLIC__/dist/js/change.js"></script>