<div id="mws-sidebar-stitch"></div>
<div id="mws-sidebar-bg"></div>
<div id="mws-sidebar">
	<div id="mws-searchbox" class="mws-inset">
    	
    </div>
    
    <div id="mws-navigation">
    	<ul>
        	<li><a href="{:U('Index/edit')}" class="mws-i-24 i-home">添加页面设置</a></li>
        	<li><a href="{:U('Home/Index/show_detail')}" class="mws-i-24 i-chart">展示页面</a></li>
        	<li><a href="{:U('')}" class="mws-i-24 i-day-calendar">空缺</a></li>
        	<li><a href="{:U('')}" class="mws-i-24 i-file-cabinet">空缺</a>
        	<!--<li><a href="table.html" class="mws-i-24 i-table-1">Table</a></li>
        	<li>
            	<a href="#" class="mws-i-24 i-list">Forms</a>
                <ul>
                	<li><a href="form_layouts.html">Layouts</a></li>
                	<li><a href="form_elements.html">Elements</a></li>
                </ul>
            </li>
        	<li><a href="widgets.html" class="mws-i-24 i-cog">Widgets</a></li>
        	<li><a href="typography.html" class="mws-i-24 i-text-styling">Typography</a></li>
        	<li class="active"><a href="grids.html" class="mws-i-24 i-blocks-images">Grids &amp; Panels</a></li>
        	<li><a href="gallery.html" class="mws-i-24 i-polaroids">Gallery</a></li>
        	<li><a href="error.html" class="mws-i-24 i-alert-2">Error Page</a></li>
        	<li>
            	<a href="icons.html" class="mws-i-24 i-pacman">
                	Icons <span class="mws-nav-tooltip mws-inset">2000+</span>
                </a>
            </li>-->
        </ul>
    </div>
</div>